<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>PokemonSaver</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a href="/changePass">ChangePassword</a></div>
    <div class="navlink"><a href="/community">Community Posts</a></div>
  </nav>
  <section id="makePokemon">
    <form id="pokemonForm" name="PokemonForm" action="/maker" method="POST" class="PokemonForm">
      <label for="pname">Pokemon Type: </label>
      <input id="pnameI" type="text" name="pname" placeholder="Bulbasaur" list="pokemonList"/>
      <datalist id="pokemonList">
        <select style="display: none;">
          <option value="bulbasaur"></option>
          <option value="ivysaur"></option>
          <option value="venusaur"></option>
          <option value="charmander"></option>
          <option value="charmeleon"></option>
          <option value="charizard"></option>
          <option value="squirtle"></option>
          <option value="wartortle"></option>
          <option value="blastoise"></option>
          <option value="caterpie"></option>
          <option value="metapod"></option>
          <option value="butterfree"></option>
          <option value="weedle"></option>
          <option value="kakuna"></option>
          <option value="beedrill"></option>
          <option value="pidgey"></option>
          <option value="pidgeotto"></option>
          <option value="pidgeot"></option>
          <option value="rattata"></option>
          <option value="raticate"></option>
          <option value="spearow"></option>
          <option value="fearow"></option>
          <option value="ekans"></option>
          <option value="arbok"></option>
          <option value="pikachu"></option>
          <option value="raichu"></option>
          <option value="sandshrew"></option>
          <option value="sandslash"></option>
          <option value="nidoran-f"></option>
          <option value="nidorina"></option>
          <option value="nidoqueen"></option>
          <option value="nidoran-m"></option>
          <option value="nidorino"></option>
          <option value="nidoking"></option>
          <option value="clefairy"></option>
          <option value="clefable"></option>
          <option value="vulpix"></option>
          <option value="ninetales"></option>
          <option value="jigglypuff"></option>
          <option value="wigglytuff"></option>
          <option value="zubat"></option>
          <option value="golbat"></option>
          <option value="oddish"></option>
          <option value="gloom"></option>
          <option value="vileplume"></option>
          <option value="paras"></option>
          <option value="parasect"></option>
          <option value="venonat"></option>
          <option value="venomoth"></option>
          <option value="diglett"></option>
          <option value="dugtrio"></option>
          <option value="meowth"></option>
          <option value="persian"></option>
          <option value="psyduck"></option>
          <option value="golduck"></option>
          <option value="mankey"></option>
          <option value="primeape"></option>
          <option value="growlithe"></option>
          <option value="arcanine"></option>
          <option value="poliwag"></option>
          <option value="poliwhirl"></option>
          <option value="poliwrath"></option>
          <option value="abra"></option>
          <option value="kadabra"></option>
          <option value="alakazam"></option>
          <option value="machop"></option>
          <option value="machoke"></option>
          <option value="machamp"></option>
          <option value="bellsprout"></option>
          <option value="weepinbell"></option>
          <option value="victreebel"></option>
          <option value="tentacool"></option>
          <option value="tentacruel"></option>
          <option value="geodude"></option>
          <option value="graveler"></option>
          <option value="golem"></option>
          <option value="ponyta"></option>
          <option value="rapidash"></option>
          <option value="slowpoke"></option>
          <option value="slowbro"></option>
          <option value="magnemite"></option>
          <option value="magneton"></option>
          <option value="farfetchd"></option>
          <option value="doduo"></option>
          <option value="dodrio"></option>
          <option value="seel"></option>
          <option value="dewgong"></option>
          <option value="grimer"></option>
          <option value="muk"></option>
          <option value="shellder"></option>
          <option value="cloyster"></option>
          <option value="gastly"></option>
          <option value="haunter"></option>
          <option value="gengar"></option>
          <option value="onix"></option>
          <option value="drowzee"></option>
          <option value="hypno"></option>
          <option value="krabby"></option>
          <option value="kingler"></option>
          <option value="voltorb"></option>
          <option value="electrode"></option>
          <option value="exeggcute"></option>
          <option value="exeggutor"></option>
          <option value="cubone"></option>
          <option value="marowak"></option>
          <option value="hitmonlee"></option>
          <option value="hitmonchan"></option>
          <option value="lickitung"></option>
          <option value="koffing"></option>
          <option value="weezing"></option>
          <option value="rhyhorn"></option>
          <option value="rhydon"></option>
          <option value="chansey"></option>
          <option value="tangela"></option>
          <option value="kangaskhan"></option>
          <option value="horsea"></option>
          <option value="seadra"></option>
          <option value="goldeen"></option>
          <option value="seaking"></option>
          <option value="staryu"></option>
          <option value="starmie"></option>
          <option value="mr-mime"></option>
          <option value="scyther"></option>
          <option value="jynx"></option>
          <option value="electabuzz"></option>
          <option value="magmar"></option>
          <option value="pinsir"></option>
          <option value="tauros"></option>
          <option value="magikarp"></option>
          <option value="gyrados"></option>
          <option value="lapras"></option>
          <option value="ditto"></option>
          <option value="eevee"></option>
          <option value="vaporeon"></option>
          <option value="jolteon"></option>
          <option value="flareon"></option>
          <option value="porygon"></option>
          <option value="omanyte"></option>
          <option value="omastar"></option>
          <option value="kabuto"></option>
          <option value="kabutops"></option>
          <option value="aerodactyl"></option>
          <option value="snorlax"></option>
          <option value="articuno"></option>
          <option value="zapdos"></option>
          <option value="moltres"></option>
          <option value="dratini"></option>
          <option value="dragonair"></option>
          <option value="dragonite"></option>
          <option value="mewtwo"></option>
          <option value="mew"></option>
        </select>
      </datalist>
      
      <label for="dateCaught">Date Caught: </label>
      <input id="dateCaughtI" type="date" name="dateCaught" placeholder=""/>
      <label for="shiny">Shiny?: </label>
      <select id="shinyI"  name="shiny">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
      <label for="combatPower">Combat Power: </label>
      <input id="combatPowerI" type="number" name="combatPower"/>
      <label for="height">Height: </label>
      <input id="heightI" type="number" step="0.01" name="height"/>
      <label for="weight">Weight: </label>
      <input id="weightI" type="number" step="0.01" name="weight"/>
      <label for="gender">Gender: </label>
      <select id="genderI"  name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <label for="quickA">Quick Attack: </label>
      <input id="quickAI" type="text" name="quickA" placeholder="Tackle"/>
      <label for="chargedA">Charged Attack: </label>
      <input id="chargedAI" type="text" name="chargedA" placeholder="Seed Bomb"/>
      <label for="iv">IV: </label>
      <input id="ivI" type="text" name="iv" placeholder="Good"/>
      <input type="hidden" id="picture" type="text" name="picture"/> 
      <input type="hidden" id="num" type="number" name="number"/> 
      <input type="hidden" id="type1" type="text" name="type1"/> 
      <input type="hidden" id="type2" type="text" name="type2" value="none"/> 
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="makePokemonSubmit" type="submit" value="Make Pokemon" />
    </form>
  </section>
  
  <section id="Pokemon">
    <div class="Pokemon">
      {{#if pokemons}}
        {{#each pokemons}}
          <div class="Pokemon">
            <img class="PokemonPic" src={{this.picture}}/>
            <h3 class="PokemonName">Name: {{this.pname}}</h3>
            <h3 class="PokemonDate">Date caught: {{this.dateCaught}}</h3>
            <h3 class="PokemonShiny">Shiny: {{this.shiny}}</h3>
            <h3 class="PokemonCP">Combat Power: {{this.combatPower}}</h3>
            <h3 class="PokemonHeight">Height: {{this.height}}</h3>
            <h3 class="PokemonWeight">Weight: {{this.weight}}</h3>
            <h3 class="PokemonGender">Gender: {{this.gender}}</h3>
            <h3 class="PokemonQA">Quick Attack: {{this.quickA}}</h3>
            <h3 class="PokemonCA">Charged Attack: {{this.chargedA}}</h3>
            <h3 class="PokemonIV">IV: {{this.iv}}</h3>
            <h3 class="PokemonNum">Number: {{this.number}}</h3>
            <h3 class="PokemonT1">Type1: {{this.type1}}</h3>
            <h3 class="PokemonT2">Type2: {{this.type2}}</h3>
          </div>
        {{/each}}
      {{else}}
        <h3 class="emptyPokemon">No Pokemon yet</h3>
      {{/if}}
    </div>
  </section>
  <div id="PokemonMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>