<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>PokemonSaver</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <section id="makePokemon">
    <form id="pokemonForm" name="PokemonForm" action="/maker" method="POST" class="PokemonForm">
      <label for="pname">Pokemon Type: </label>
      <input id="pnameI" type="text" name="pname" placeholder="Bulbasaur"/>
      <label for="dateCaught">Date Caught: </label>
      <input id="dateCaughtI" type="date" name="dateCaught" placeholder=""/>
      <label for="shiny">Shiny?: </label>
      <select id="shinyI"  name="shiny">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
      <label for="combatPower">Combat Power: </label>
      <input id="combatPowerI" type="number" name="combatPower"/>
      <label for="height">Height: </label>
      <input id="heightI" type="number" step="0.01" name="height"/>
      <label for="weight">Weight: </label>
      <input id="weightI" type="number" step="0.01" name="weight"/>
      <label for="gender">Gender: </label>
      <select id="genderI"  name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <label for="quickA">Quick Attack: </label>
      <input id="quickAI" type="text" name="quickA" placeholder="Tackle"/>
      <label for="chargedA">Charged Attack: </label>
      <input id="chargedAI" type="text" name="chargedA" placeholder="Seed Bomb"/>
      <label for="iv">IV: </label>
      <input id="ivI" type="text" name="iv" placeholder="Good"/>
     
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="makePokemonSubmit" type="submit" value="Make Pokemon" />
    </form>
  </section>
  <section id="Pokemon">
    <div class="Pokemon">
      {{#if pokemons}}
        {{#each pokemons}}
          <div class="Pokemon">
            <h3 class="PokemonName">Name: {{this.pname}}</h3>
            <h3 class="PokemonDate">Date caught: {{this.dateCaught}}</h3>
            <h3 class="PokemonShiny">Shiny: {{this.shiny}}</h3>
            <h3 class="PokemonCP">Combat Power: {{this.combatPower}}</h3>
            <h3 class="PokemonHeight">Height: {{this.height}}</h3>
            <h3 class="PokemonWeight">Weight: {{this.weight}}</h3>
            <h3 class="PokemonGender">Gender: {{this.gender}}</h3>
            <h3 class="PokemonQA">Quick Attack: {{this.quickA}}</h3>
            <h3 class="PokemonCA">Charged Attack: {{this.chargedA}}</h3>
            <h3 class="PokemonIV">IV: {{this.iv}}</h3>
          </div>
        {{/each}}
      {{else}}
        <h3 class="emptyPokemon">No Pokemon yet</h3>
      {{/if}}
    </div>
  </section>
  <div id="PokemonMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>