<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pokemon Go Share</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"></a>
    <div class="navlink"><a href="/logout">log out</a></div>
    <div class="navlink"><a href="/changePass">change password</a></div>
    <div class="navlink"><a href="/community">community posts</a></div>
    <div class="navlink"><a href="/info">information</a></div>
  </nav>
  <section id="makepokemon">
    <div class="ads">
      <div>I'm an ad for something</div>
      <div>You shoudl buy this thing</div>
    </div>
    <div>
    <h1 class="title">add a new pokemon</h1>
    <form id="pokemonForm" name="pokemonForm" action="/maker" method="POST" class="pokemonForm">
      <label for="pname">pokemon name: </label>
      <input id="pnameI" type="text" name="pname" placeholder="Type in me" list="pokemonList"/>
      <datalist id="pokemonList">
        <!-- dont open be unless you wanna see all the pokemon !-->
        <select style="display: none;"> 
          <option value="bulbasaur"></option>
          <option value="ivysaur"></option>
          <option value="venusaur"></option>
          <option value="charmander"></option>
          <option value="charmeleon"></option>
          <option value="charizard"></option>
          <option value="squirtle"></option>
          <option value="wartortle"></option>
          <option value="blastoise"></option>
          <option value="caterpie"></option>
          <option value="metapod"></option>
          <option value="butterfree"></option>
          <option value="weedle"></option>
          <option value="kakuna"></option>
          <option value="beedrill"></option>
          <option value="pidgey"></option>
          <option value="pidgeotto"></option>
          <option value="pidgeot"></option>
          <option value="rattata"></option>
          <option value="raticate"></option>
          <option value="spearow"></option>
          <option value="fearow"></option>
          <option value="ekans"></option>
          <option value="arbok"></option>
          <option value="pikachu"></option>
          <option value="raichu"></option>
          <option value="sandshrew"></option>
          <option value="sandslash"></option>
          <option value="nidoran-f"></option>
          <option value="nidorina"></option>
          <option value="nidoqueen"></option>
          <option value="nidoran-m"></option>
          <option value="nidorino"></option>
          <option value="nidoking"></option>
          <option value="clefairy"></option>
          <option value="clefable"></option>
          <option value="vulpix"></option>
          <option value="ninetales"></option>
          <option value="jigglypuff"></option>
          <option value="wigglytuff"></option>
          <option value="zubat"></option>
          <option value="golbat"></option>
          <option value="oddish"></option>
          <option value="gloom"></option>
          <option value="vileplume"></option>
          <option value="paras"></option>
          <option value="parasect"></option>
          <option value="venonat"></option>
          <option value="venomoth"></option>
          <option value="diglett"></option>
          <option value="dugtrio"></option>
          <option value="meowth"></option>
          <option value="persian"></option>
          <option value="psyduck"></option>
          <option value="golduck"></option>
          <option value="mankey"></option>
          <option value="primeape"></option>
          <option value="growlithe"></option>
          <option value="arcanine"></option>
          <option value="poliwag"></option>
          <option value="poliwhirl"></option>
          <option value="poliwrath"></option>
          <option value="abra"></option>
          <option value="kadabra"></option>
          <option value="alakazam"></option>
          <option value="machop"></option>
          <option value="machoke"></option>
          <option value="machamp"></option>
          <option value="bellsprout"></option>
          <option value="weepinbell"></option>
          <option value="victreebel"></option>
          <option value="tentacool"></option>
          <option value="tentacruel"></option>
          <option value="geodude"></option>
          <option value="graveler"></option>
          <option value="golem"></option>
          <option value="ponyta"></option>
          <option value="rapidash"></option>
          <option value="slowpoke"></option>
          <option value="slowbro"></option>
          <option value="magnemite"></option>
          <option value="magneton"></option>
          <option value="farfetchd"></option>
          <option value="doduo"></option>
          <option value="dodrio"></option>
          <option value="seel"></option>
          <option value="dewgong"></option>
          <option value="grimer"></option>
          <option value="muk"></option>
          <option value="shellder"></option>
          <option value="cloyster"></option>
          <option value="gastly"></option>
          <option value="haunter"></option>
          <option value="gengar"></option>
          <option value="onix"></option>
          <option value="drowzee"></option>
          <option value="hypno"></option>
          <option value="krabby"></option>
          <option value="kingler"></option>
          <option value="voltorb"></option>
          <option value="electrode"></option>
          <option value="exeggcute"></option>
          <option value="exeggutor"></option>
          <option value="cubone"></option>
          <option value="marowak"></option>
          <option value="hitmonlee"></option>
          <option value="hitmonchan"></option>
          <option value="lickitung"></option>
          <option value="koffing"></option>
          <option value="weezing"></option>
          <option value="rhyhorn"></option>
          <option value="rhydon"></option>
          <option value="chansey"></option>
          <option value="tangela"></option>
          <option value="kangaskhan"></option>
          <option value="horsea"></option>
          <option value="seadra"></option>
          <option value="goldeen"></option>
          <option value="seaking"></option>
          <option value="staryu"></option>
          <option value="starmie"></option>
          <option value="mr-mime"></option>
          <option value="scyther"></option>
          <option value="jynx"></option>
          <option value="electabuzz"></option>
          <option value="magmar"></option>
          <option value="pinsir"></option>
          <option value="tauros"></option>
          <option value="magikarp"></option>
          <option value="gyrados"></option>
          <option value="lapras"></option>
          <option value="ditto"></option>
          <option value="eevee"></option>
          <option value="vaporeon"></option>
          <option value="jolteon"></option>
          <option value="flareon"></option>
          <option value="porygon"></option>
          <option value="omanyte"></option>
          <option value="omastar"></option>
          <option value="kabuto"></option>
          <option value="kabutops"></option>
          <option value="aerodactyl"></option>
          <option value="snorlax"></option>
          <option value="articuno"></option>
          <option value="zapdos"></option>
          <option value="moltres"></option>
          <option value="dratini"></option>
          <option value="dragonair"></option>
          <option value="dragonite"></option>
          <option value="mewtwo"></option>
          <option value="mew"></option>
          <!-- Gen 2 !-->
          <option value="chikorita"></option>
          <option value="bayleef"></option>
          <option value="meganium"></option>
          <option value="cyndaquil"></option>
          <option value="quilava"></option>
          <option value="typhlosion"></option>
          <option value="totodile"></option>
          <option value="croconaw"></option>
          <option value="feraligatr"></option>
          <option value="sentret"></option>
          <option value="furret"></option>
          <option value="hoothoot"></option>
          <option value="noctowl"></option>
          <option value="spinarak"></option>
          <option value="ariados"></option>
          <option value="crobat"></option>
          <option value="chinchou"></option>
          <option value="lanturn"></option>
          <option value="pichu"></option>
          <option value="cleffa"></option>
          <option value="igglybuff"></option>
          <option value="togepi"></option>
          <option value="togetic"></option>
          <option value="natu"></option>
          <option value="xatu"></option>
          <option value="mareep"></option>
          <option value="flaaffy"></option>
          <option value="ampharos"></option>
          <option value="bellossom"></option>
          <option value="marill"></option>
          <option value="azumarill"></option>
          <option value="sudowoodo"></option>
          <option value="politoed"></option>
          <option value="hoppip"></option>
          <option value="skiploom"></option>
          <option value="jumpluff"></option>
          <option value="aipom"></option>
          <option value="sunkern"></option>
          <option value="sunflora"></option>
          <option value="yanma"></option>
          <option value="wooper"></option>
          <option value="quagsire"></option>
          <option value="espeon"></option>
          <option value="umbreon"></option>
          <option value="murkrow"></option>
          <option value="slowking"></option>
          <option value="misdreavus"></option>
          <option value="unown"></option>
          <option value="wobboffet"></option>
          <option value="girafarig"></option>
          <option value="pineco"></option>
          <option value="forretress"></option>
          <option value="dunsparce"></option>
          <option value="gligar"></option>
          <option value="steelix"></option>
          <option value="snubbull"></option>
          <option value="granbull"></option>
          <option value="qwilfish"></option>
          <option value="scizor"></option>
          <option value="shuckle"></option>
          <option value="heracross"></option>
          <option value="sneasel"></option>
          <option value="teddiursa"></option>
          <option value="ursaring"></option>
          <option value="slugma"></option>
          <option value="magcargo"></option>
          <option value="swinub"></option>
          <option value="piloswine"></option>
          <option value="corsola"></option>
          <option value="remoraid"></option>
          <option value="octillery"></option>
          <option value="delibird"></option>
          <option value="mantine"></option>
          <option value="skarmory"></option>
          <option value="houndour"></option>
          <option value="houndoom"></option>
          <option value="kingdra"></option>
          <option value="phanpy"></option>
          <option value="donphan"></option>
          <option value="porygon2"></option>
          <option value="stantler"></option>
          <option value="smeargle"></option>
          <option value="tyrogue"></option>
          <option value="hitmontop"></option>
          <option value="smoochum"></option>
          <option value="elekid"></option>
          <option value="magby"></option>
          <option value="miltank"></option>
          <option value="blissey"></option>
          <option value="raikou"></option>
          <option value="entei"></option>
          <option value="suicune"></option>
          <option value="larvitar"></option>
          <option value="pupitar"></option>
          <option value="tyranitar"></option>
          <option value="lugia"></option>
          <option value="ho-oh"></option>
          <option value="celebi"></option>
          <!-- Gen 3 !-->
          <option value="treecko"></option>
          <option value="grovyle"></option>
          <option value="sceptile"></option>
          <option value="torchic"></option>
          <option value="combusken"></option>
          <option value="blaziken"></option>
          <option value="mudkip"></option>
          <option value="marshtomp"></option>
          <option value="swampert"></option>
          <option value="poochyena"></option>
          <option value="mightyena"></option>
          <option value="zigzagoon"></option>
          <option value="linoone"></option>
          <option value="wurmple"></option>
          <option value="silcoon"></option>
          <option value="beautifly"></option>
          <option value="cascoon"></option>
          <option value="dustox"></option>
          <option value="lotad"></option>
          <option value="lombre"></option>
          <option value="ludicolo"></option>
          <option value="seedot"></option>
          <option value="nuzleaf"></option>
          <option value="shiftry"></option>
          <option value="taillow"></option>
          <option value="swellow"></option>
          <option value="wingull"></option>
          <option value="pelipper"></option>
          <option value="ralts"></option>
          <option value="kirlia"></option>
          <option value="gardevoir"></option>
          <option value="surskit"></option>
          <option value="masquerain"></option>
          <option value="shroomish"></option>
          <option value="breloom"></option>
          <option value="slakoth"></option>
          <option value="vigoroth"></option>
          <option value="slaking"></option>
          <option value="nicada"></option>
          <option value="ninjask"></option>
          <option value="shedinja"></option>
          <option value="whismur"></option>
          <option value="loudred"></option>
          <option value="exploud"></option>
          <option value="makuhita"></option>
          <option value="hariyama"></option>
          <option value="azurill"></option>
          <option value="marill"></option>
          <option value="azumarill"></option>
          <option value="nosepass"></option>
          <option value="skitty"></option>
          <option value="delcatty"></option>
          <option value="sableye"></option>
          <option value="mawile"></option>
          <option value="aron"></option>
          <option value="lairon"></option>
          <option value="aggron"></option>
          <option value="meditite"></option>
          <option value="medicham"></option>
          <option value="electrike"></option>
          <option value="manectric"></option>
          <option value="plusle"></option>
          <option value="minun"></option>
          <option value="volbeat"></option>
          <option value="illumise"></option>
          <option value="rosalia"></option>
          <option value="gulpin"></option>
          <option value="swalot"></option>
          <option value="carvanha"></option>
          <option value="sharpedo"></option>
          <option value="wailmer"></option>
          <option value="mailord"></option>
          <option value="numel"></option>
          <option value="camerupt"></option>
          <option value="torkoal"></option>
          <option value="spoink"></option>
          <option value="grumpig"></option>
          <option value="spinda"></option>
          <option value="trapinch"></option>
          <option value="vibrava"></option>
          <option value="flygon"></option>
          <option value="cacnea"></option>
          <option value="cacturne"></option>
          <option value="swablu"></option>
          <option value="altaria"></option>
          <option value="zangoose"></option>
          <option value="seviper"></option>
          <option value="lunatone"></option>
          <option value="solrock"></option>
          <option value="barboach"></option>
          <option value="whiscash"></option>
          <option value="corphish"></option>
          <option value="crawdaunt"></option>
          <option value="baltoy"></option>
          <option value="claydol"></option>
          <option value="lileep"></option>
          <option value="cradily"></option>
          <option value="anorith"></option>
          <option value="armaldo"></option>
          <option value="feebas"></option>
          <option value="milotic"></option>
          <option value="castform"></option>
          <option value="kecleon"></option>
          <option value="shuppet"></option>
          <option value="banette"></option>
          <option value="duskull"></option>
          <option value="dusclops"></option>
          <option value="tropius"></option>
          <option value="absol"></option>
          <option value="wynaut"></option>
          <option value="snorunt"></option>
          <option value="glalie"></option>
          <option value="spheal"></option>
          <option value="sealeo"></option>
          <option value="walrein"></option>
          <option value="clamperl"></option>
          <option value="huntail"></option>
          <option value="gorebyss"></option>
          <option value="relicanth"></option>
          <option value="luvdisc"></option>
          <option value="bagon"></option>
          <option value="shelgon"></option>
          <option value="salamance"></option>
          <option value="beldum"></option>
          <option value="metang"></option>
          <option value="metagross"></option>
          <option value="regirock"></option>
          <option value="regice"></option>
          <option value="registeel"></option>
          <option value="latias"></option>
          <option value="latios"></option>
          <option value="kyogre"></option>
          <option value="groudon"></option>
          <option value="rayquaza"></option>
          <option value="jirachi"></option>
          <option value="deoxys"></option>

          <option value="turtwig"></option>
          <option value="grotle"></option>
          <option value="torterra"></option>
          <option value="chimchar"></option>
          <option value="monferno"></option>
          <option value="infernape"></option>
          <option value="piplup"></option>
          <option value="prinplup"></option>
          <option value="empoleon"></option>
          <option value="starly"></option>
          <option value="staravia"></option>
          <option value="staraptor"></option>
          <option value="bidoof"></option>
          <option value="bibarel"></option>
          <option value="kricketot"></option>
          <option value="kricketune"></option>
          <option value="shinx"></option>
          <option value="luxio"></option>
          <option value="luxray"></option>
          <option value="budew"></option>
          <option value="roserade"></option>
          <option value="cranidos"></option>
          <option value="rampardos"></option>
          <option value="shieldon"></option>
          <option value="bastiodon"></option>
          <option value="combee"></option>
          <option value="buizel"></option>
          <option value="floatzel"></option>
          <option value="ambipom"></option>
          <option value="drifloon"></option>
          <option value="drifblim"></option>
          <option value="buneary"></option>
          <option value="lopunny"></option>
          <option value="mismagius"></option>
          <option value="honchkrow"></option>
          <option value="glameow"></option>
          <option value="purugly"></option>
          <option value="chingling"></option>
          <option value="stunky"></option>
          <option value="skunktank"></option>
          <option value="bronzor"></option>
          <option value="bronzong"></option>
          <option value="happiny"></option>
          <option value="chatot"></option>
          <option value="spiritomb"></option>
          <option value="munchlax"></option>
          <option value="riolu"></option>
          <option value="lucario"></option>
          <option value="skorupi"></option>
          <option value="drapion"></option>
          <option value="croagunk"></option>
          <option value="toxicroak"></option>
          <option value="carnivine"></option>
          <option value="finneon"></option>
          <option value="lumineon"></option>
          <option value="mantyke"></option>
          <option value="snover"></option>
          <option value="abomasnow"></option>
          <option value="weavile"></option>
          <option value="lickylicky"></option>
          <option value="rhyperior"></option>
          <option value="tangrowth"></option>
          <option value="electivire"></option>
          <option value="magmortar"></option>
          <option value="togekiss"></option>
          <option value="yanmega"></option>
          <option value="gliscor"></option>
          <option value="mamoswine"></option>
          <option value="porygon-z"></option>
          <option value="gallade"></option>
          <option value="froslass"></option>
          <option value="dialga"></option>
          <option value="palkia"></option>
          <option value="heatran"></option>
          <option value="giratina"></option>
          <option value="cresselia"></option>
          <option value="meltan"></option>
          <option value="melmetal"></option>


        </select>
      </datalist>
      
      <label for="dateCaught">date caught: </label>
      <input id="dateCaughtI" type="date" name="dateCaught" placeholder=""/>
      <label for="shiny">shiny?: </label>
      <select id="shinyI"  name="shiny">
        <option value="shiny">yes</option>
        <option value=" ">no</option>
      </select>
      <label for="combatPower">combat power: </label>
      <input id="combatPowerI" type="number" name="combatPower"/>
      <label for="height">height: </label>
      <input id="heightI" type="number" min="0" step="0.01" name="height"/>
      <label for="weight">weight: </label>
      <input id="weightI" type="number" min="0" step="0.01" name="weight"/>
      <label for="gender">gender: </label>
      <select id="genderI"  name="gender">
        <option value="male">male</option>
        <option value="female">female</option>
        <option value="none">none</option>
      </select>
      <label for="quickA">quick attack: </label>
      <input id="quickAI" type="text" name="quickA" placeholder="Tackle"/>
      <label for="chargedA">charged attack: </label>
      <input id="chargedAI" type="text" name="chargedA" placeholder="Seed Bomb"/>
      <label for="iv">iv: </label>
      <input id="ivI" type="text" name="iv" placeholder="Good"/>
      <input type="hidden" id="picture" type="text" name="picture"/> 
      <input type="hidden" id="num" type="number" name="number"/> 
      <input type="hidden" id="type1" type="text" name="type1"/> 
      <input type="hidden" id="type2" type="text" name="type2" value=" "/> 
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input id="sub" class="makepokemonSubmit" type="submit" value="Make pokemon" />
    </form>
    </div>
    <div class="ads">
      <div>Check out this thing</div>
      <div>Wow what a cool product</div>
    </div>
  </section>
  
  <section id="pokemon">
    <h1 class="title">my pokemon</h1>
    <div class="pokemon">
      {{#if pokemons}}
        {{#each pokemons}}
          <div class="pokemonSingle">
            <div class="row1">
              <h3 class="pokemonNum">#{{this.number}}</h3>
              <h3 class="pokemonCP">cp:{{this.combatPower}}</h3>
              <h3 class="pokemonShiny">{{this.shiny}}</h3>
            </div>
            <div class="row2">
              <img class="pokemonPic" src={{this.picture}}/>
            </div>
            <div class="row3">
              <h3 class="pokemonName">{{this.pname}}</h3>
              
            </div>
            <div class="row4">
              <h3 class="pokemonT">{{this.type1}} </h3>
              <h3 id="t2">{{this.type2}}</h3>
            </div>
            <div class="row5">
              <h3 class="pokemonWeight">{{this.weight}}kg</h3>
              <h3 class="pokemonGender">{{this.gender}}</h3>
              <h3 class="pokemonHeight">{{this.height}}m</h3>
            </div>
            <div class="row6">
              <h3 class="pokemonQA">{{this.quickA}}</h3>
              <h3 class="pokemonCA">{{this.chargedA}}</h3>
              <h3 class="pokemonIV">iv: {{this.iv}}</h3>
            </div>
            <div class="row7">
              <h3 class="pokemonDate">date caught: {{this.dateCaught}}</h3>
            </div>
            
            
            
            
            
            
            
          </div>
        {{/each}}
      {{else}}
        <h3 class="emptypokemon">No pokemon yet</h3>
      {{/if}}
    </div>
  </section>
  <div id="pokemonMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>